/* ========> Google Fonts <======== */
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========> Variables <======== */
:root{
    /* Colors */
    --primaryBlack : #121111;
    --secondayBlack : #1e1e1e;
    --primaryRed : #e25563;
    --darkRed : #dc3545;
    --grey : #6C757D;

    /* Fonts */
    --montserrat : 'Montserrat', sans-serif;
    --openSans : 'Open Sans', sans-serif;
}
/* ========> Base Styles <======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--openSans);
}
a{
    text-decoration: none;
    color: #000;
}
button{
    border: none;
    outline: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.mon{
    font-family: var(--montserrat);
}
/* Page */
.page_wrapper{
    background-color: var(--primaryBlack);
    color: #fff;
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px !important; 
    }
}
/* Navbar */
.navbar_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.75rem;
}
.navbar_container .buy_btn{
    background-color: var(--primaryRed);
    color: #fff;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
}